<div class="container">
  <h1><%= @artwork.title %></h1>
  <p><%= @artwork.description %></p>
  <span><%= number_to_currency(@artwork.price, :unit=>'€') %></span>
  <% @artwork.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <p><%= @artwork.user.email %></p>
</div>
<%= simple_form_for [@artwork, @booking] do |f| %>
  <div class="mb-3">
      <%= f.input :start_date %>
      <%= f.input :end_date %>
  </div>
  <div class="mb-3">
    <%= f.submit "Book it", class: "btn btn-primary" %>
    <% end %>
</div>
