<div class="container">
  <h1><%= @artwork.title %></h1>
  <p><%= @artwork.description %></p>
  <span><%= @artwork.price %></span>
  <p><%= @artwork.photo %></p>
  <p><%= @artwork.user.email %></p>
</div>
