<h1>Pages#home</h1>

<p>Find me in app/views/pages/home.html.erb</p>
    <div class="cards">
      <div class="card-category">
        <div class="card-trip">
          <%= image_tag "card1.jpg" %>
          <div class="card-trip-infos">
            <div>
              <h2>The end of Superman</h2>
              <p>A amazing painting capturing the end of Superman.</p>
            </div>
            <h2 class="card-trip-pricing">£400.99</h2>
             <%= image_tag "profile1.jpg", :class => "card-trip-user avatar-bordered" %>
            </div>
        </div>
      </div>

      <div class="card-category">
        <div class="card-trip">
          <%= image_tag "card1.jpg" %>
          <div class="card-trip-infos">
            <div>
              <h2>The end of Superman part 2</h2>
              <p>A amazing painting capturing the end of Superman.</p>
            </div>
            <h2 class="card-trip-pricing">£300.99</h2>
             <%= image_tag "profile2.jpg", :class => "card-trip-user avatar-bordered" %>
          </div>
        </div>
      </div>

      <div class="card-category">
        <div class="card-trip">
          <%= image_tag "card3.jpg" %>
          <div class="card-trip-infos">
            <div>
              <h2>Touch the sky</h2>
              <p>Gods in the heavens above.</p>
            </div>
            <h2 class="card-trip-pricing">£200.99</h2>
            <%= image_tag "profile3.jpg", :class => "card-trip-user avatar-bordered" %>
          </div>
        </div>
      </div>

      <div class="card-category">
        <div class="card-trip">
          <%= image_tag "card4.jpg" %>
          <div class="card-trip-infos">
            <div>
              <h2>Flowers</h2>
              <p>A nice arangment of flowers to show.</p>
            </div>
            <h2 class="card-trip-pricing">£100.99</h2>
            <%= image_tag "profile4.jpg", :class => "card-trip-user avatar-bordered" %>
          </div>
        </div>
      </div>

      <div class="card-category">
        <div class="card-trip">
        <%= image_tag "card4.jpg" %>
        <div class="card-trip-infos">
            <div>
              <h2>Flowers part 2</h2>
              <p>Flowers part 2 is a nice arangment of flowers to show.</p>
            </div>
            <h2 class="card-trip-pricing">£1000.99</h2>
            <%= image_tag "profile5.jpg", :class => "card-trip-user avatar-bordered" %>
          </div>
        </div>
      </div>
      <div class="card-category">
        <div class="card-trip">
         <%= image_tag "card3.jpg" %>
         <div class="card-trip-infos">
            <div>
              <h2>Touch the sky part 2</h2>
              <p>Touch the sky part 2 , is an amazing painting from Spike Lee.</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      </div>
    </div>

<%= @artworks.each do |artwork| %>
  <%= artwork.title %>
  <%= artwork.description %>
  <%= number_to_currency(artwork.price, :unit=>'€') %>
  <% artwork.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <%= artwork.user.email %>
<% end %>
