<div class="container mt-4">
  <h1>My bookings</h1>
  <% @bookings.each do |booking|%>
    <div class="container my-5">
      <div class="row">
        <div class="col">
          <div class="row">
            <h2><%= booking.artwork.title %></h2>
            <p><%= booking.artwork.description %></p>
            <strong>Author:</strong><p><%= booking.artwork.user.email %></p %></p>
          </div>
          <div class="row">
            <div class="col">
              <strong>Status: </strong><span class="badge text-bg-warning"><%= booking.status %></span>
            </div>
          </div>
          <div class="row my-3">
            <div class="col">
              From: <span class="badge text-bg-dark ms-1"><%= booking.start_date %></span><br>
              To: <span class="badge text-bg-dark ms-4" ><%= booking.end_date %></span>
            </div>
          </div>
        </div>
        <div class="col">
          <%= cl_image_tag booking.artwork.photos.first.key, height: 300, width: 400, crop: :fill %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>
